@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
  box-sizing: border-box;
}

h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  margin-bottom: -20px;
}

h2 img {
  margin-right: 15px;
}

h3 {
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
}

h3 img {
  margin-right: 15px;
}

h4 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  background-color:#fecb00;
  padding: 5px 0px 15px;
  text-align: center;
  margin-top: -5px;
  position: relative;
}

h4 img {
  margin-right: 15px;
  position:relative;
    bottom: -5px;
}

body {
  background-color: #111;
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.container .aside {
  width: 30%;
  background-color: #202026;
  font-family: Gowun Dodum, sans-serif;
  color: #fff;
}

.container .aside img {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.container .aside .contacts {
  margin-left: 15px;
  margin-bottom: 40px;
}

.container .aside .contactInfo {
  line-height: 1.5;
  font-size: 18px;
}

.container .aside .contacts a {
  transition: 0.5s all;
  color: #fecb00;
  text-decoration: none;
}

.container .aside .contacts a:hover {
  color: #fff;
}

.container .aside .contacts h2 {
  margin-right: 90px;
}

.container .aside .education {
  margin-left: 15px;
  margin-bottom: 40px;
}

.container .aside .education__place {
  font-weight: 600;
  font-size: 20px;
  padding-right: 10px;
}

.container .aside .education__descr {
  padding-left: 30px;
  font-size: 17px;
  font-weight: 500;
  padding-right: 10px;
}

.container .aside .education__descr a {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #fecb00;
  text-decoration: none;
}

.container .aside .education__descr a:hover {
  color: #fff;
}

.container .aside .education h2 {
  margin-right: 70px;
}

.container .aside .skills {
  margin-left: 15px;
}

.container .aside .skills__list {
  list-style: none;
  padding: 0;
  color: #fecb00;
  line-height: 50px;
  font-size: 18px;
}

.container .aside .skills__list li {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
}

.container .aside .skills__html {
  background-image: url("../img/icons/html.svg");
}

.container .aside .skills__css {
  background-image: url("../img/icons/css.svg");
}

.container .aside .skills__gt {
  background-image: url("../img/icons/gt.svg");
}

.container .aside .skills__js {
  background-image: url("../img/icons/js.svg");
}

.container .aside .skills__ps {
  background-image: url("../img/icons/ps.svg");
}

.container .aside .skills h2 {
  margin-right: 140px;
}

.main {
  width: 70%;
  font-family: Gowun Dodum, sans-serif;
  color: #2d2d2d;
  padding-top: 0px;
  background-color: #fff;
}

.main .header {
  width: 100%;
  height: 245px;
  background-color: #fecb00;
  padding: 80px 95px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main .header .name {
  font-size: 47px;
  font-weight: 800;
}

.main .header .name span {
  font-weight: 900;
}

.main .header .prof {
  font-size: 20px;
  font-weight: 500;
}

.main__wrapper {
  padding: 0px 60px;
}

.main__wrapper .about {
  line-height: 30px;
  font-size: 18px;
}

.main__wrapper .about .about__descr {
  text-align: justify;
}

.main__wrapper .about__languages {
  padding: 0;
  list-style: circle;
}

.main__wrapper .about__languages li {
  margin-left: 40px;
}

.main__wrapper .course {
  list-style: circle;
}

.main__wrapper .code-example {
  line-height: 15px;
}

.main__wrapper .code-example code {
  position: relative;
  left: -200px;
}

.footer {
  height: 80px;
  background-color: #fecb00;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}

.footer i {
  font-size: 50px;
  color: black;
}

.footer i:hover {
  color: red;
}

.footer .info-a {
  color: black;
  display: flex;
  padding: -10px;
  margin-top: 10px;
}

.footer .info-a p {
  color: black;
  text-transform: uppercase;
  font-weight:bold;
}

.footer .info-a i {
  margin-right: 10px;
  margin-top: 18px;
  font-size: 24px;
}

.footer .info-a a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
}

.footer .info-b {
  text-decoration: none;
  font-size: 25px;
}

.footer .info-b i {
  font-size: 24px;
  color: black;
  margin-top: 18px;
}

.footer .info a {
  color: black;
}


.divider_yellow {
  display: block;
  height: 3px;
  background-color: #fecb00;
  margin-bottom: 1em;
}

.d14 {
  text-align: center;
}
  
.d14 h3 {
  position: relative;
  color: black;
  font-size: 20px;
  border-top: 4px solid #fecb00;
  border-left: 4px solid #fecb00;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.d14 h3:before {
  content: ""; 
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #fecb00;
  box-sizing: border-box;
}

